name: Deploy Cognite Function
on: [push]
jobs:
  deploy:
    name: Deploy
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Pretend to test
        run: echo "AlL tEStS PaSsED"
      - name: Deploy
        uses: andeplane/deploy-function-action@v0.0.2
        with:
          cdf_project: andershaf
          cdf_base_url: https://api.cognitedata.com
          cdf_credentials: ${{ secrets.COGNITE_API_KEY }}
          handler_path: example/handler.py
